<div class="hf-field{% if field.errors %} hf-field-invalid{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} <span class="hf-required" aria-hidden="true">*</span>{% endif %}</label>
    {{ field }}
    {% if field.help_text %}<p class="hf-help" id="{{ field.auto_id }}_help">{{ field.help_text }}</p>{% endif %}
    {% if field.errors %}<ul class="hf-errors" id="{{ field.auto_id }}_errors">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
</div>
